[submodule "tutorial/getting-started-with-multi-module-workspaces/tutorial/getting-started-with-multi-module-workspaces/example"]
	path = tutorial/getting-started-with-multi-module-workspaces/tutorial/getting-started-with-multi-module-workspaces/example
	url = https://go.googlesource.com/example
